<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2 class="mt-5">Login</h2>

    <form th:action="@{'/api/auth/login'}" method="POST" class="mt-4">
        <!-- Username -->
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" id="username" name="email" class="form-control" required>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>

        <!-- Login Button -->
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <!-- Display Error Message if Authentication Fails -->
    <div th:if="${param.error}" class="alert alert-danger mt-3">
        Invalid username or password.
    </div>

    <!-- Display Error Message if Account is Locked -->
    <div th:if="${param.logout}" class="alert alert-success mt-3">
        You have been logged out successfully.
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
