<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5 border p-4 rounded" style="width: 400px;">
    <h2>Логин</h2>

    <!-- Error Message -->
    <div th:if="${error}" class="alert alert-danger mt-3">
        <span th:text="${error}"></span>
    </div>

    <form th:action="@{/api/auth/login}" method="POST" class="mt-4">
        <!-- Email -->
        <div class="form-group">
            <label for="email" class="form-label">Почта</label>
            <input type="email" id="email" name="email" class="form-control" th:value="${email}" required>
            <p class="error" th:text="${emailError}"></p>
        </div>

        <!-- Password -->
        <div class="form-group">
            <label for="upassword" class="form-label">Пароль</label>
            <input type="password" id="upassword" name="password" class="form-control" required>
            <p class="error" th:text="${passwordError}"></p>
        </div>

        <!-- Remember Me Checkbox -->
        <div class="form-check mb-3">
            <input type="checkbox" id="rememberMe" class="form-check-input" name="rememberMe">
            <label for="rememberMe" class="form-check-label">Запомнить меня</label>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Логин</button>
    </form>

    <!-- Registration Link -->
    <div class="mt-3">
        <label>Нет аккаунта? <a th:href="@{/register_page}">Регистрация</a></label>
    </div>

    <!-- Success or Error Messages -->
    <p class="error mt-2" th:text="${error}"></p>
    <p class="message mt-2" th:text="${message}"></p>
</div>

</body>
</html>
