<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
    <script th:src="@{'/static/js/bootstrap.bundle.js'}"></script>

</head>
<body>
    <div th:if="${error}" class="alert alert-danger mt-3">
        <span th:text="${error}"></span>
    </div>
    <div class="row" th:insert="navbar.html">
        <div>
            <a sec:authentication="isAuthenticated()" th:href="@{/logout}" class="btn btn-primary">Log out</a>
            <a sec:authentication="!isAuthenticated()" th:href="@{/login_page}" class="btn btn-primary">Login</a>
        </div>
    </div>
    <div class="container">
        <div class="row" layout:fragment="content">
        </div>
    </div>
</body>
</html>