<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid mx-1">
    <a class="navbar-brand" href="/">BePro</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/home_page}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products}">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/profile}">Profile</a>
        </li>
      </ul>
    </div>
    <div>
      <button th:onclick="'location.href=\'/logout\' '" class="btn btn-primary">Log out</button>
      <button th:onclick="'location.href=\'/login\' '" class="btn btn-primary">Login</button>
    </div>
  </div>
</nav>
