<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">BePro</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/home_page}" th:classappend="${#uris.match('/home_page')} ? 'active'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/products}" th:classappend="${#uris.match('/products')} ? 'active'">Shop</a>
        </li>
      </ul>
    </div>
    <div>
      <button th:onclick="'location.href=\'/logout\' '" class="btn btn-primary">Log out</button>
      <button th:onclick="'location.href=\'/login\' '" class="btn btn-primary">Login</button>
    </div>
  </div>
</nav>
