<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div class="container" layout:fragment="content">
    <div class="app">
        <div class="card mb-4">
            <div class="card-body text-center">
                <img src="data:image/jpeg;base64," alt="avatar"
                     class="rounded-circle img-fluid" style="width: 150px; height: 150px;" id="profileAvatar" />
                <h5 class="my-3" id="profileName"></h5>
                <div class="d-flex justify-content-center mb-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#editProfileModal">Редактировать профиль</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Имя</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0" id="userName"></p>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Почта</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0" id="userEmail"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="editProfileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editProfileLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editProfileLabel">Редактировать профиль</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editProfileForm" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name" class="form-label">Имя</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="avatar" class="form-label">Аватар</label>
                                <input type="file" class="form-control" id="avatar" name="avatar">
                            </div>
                            <div class="mb-3">
                                <label for="old_password" class="form-label">Старый пароль</label>
                                <input type="password" class="form-control" id="old_password" name="old_password">
                            </div>
                            <div class="mb-3">
                                <label for="new_password" class="form-label">Новый пароль</label>
                                <input type="password" class="form-control" id="new_password" name="new_password">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="submit" form="editProfileForm" class="btn btn-primary">Сохранить изменения</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">

        loadProfile();

        function loadProfile() {
            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/api/users/profile", true); // Запрос на сервер по ID пользователя
            httpRequest.setRequestHeader("Content-Type", "application/json");

            httpRequest.onload = function() {
                if (httpRequest.status === 200) {
                    const user = JSON.parse(httpRequest.responseText); // Парсим ответ от сервера

                    // Заполняем данные в шаблоне
                    document.getElementById('profileAvatar').src = "data:image/jpeg;base64," + user.avatar; // Отображаем аватар
                    document.getElementById('profileName').textContent = user.name; // Отображаем имя
                    document.getElementById('userName').textContent = user.name; // Заполняем имя на странице
                    document.getElementById('userEmail').textContent = user.email; // Заполняем почту на странице

                    // Заполняем форму в модальном окне
                    document.getElementById('name').value = user.name; // Имя
                    document.getElementById('email').value = user.email; // Почта
                } else {
                    console.error('Error loading profile:', httpRequest.statusText);
                }
            };
            httpRequest.send(); // Отправляем запрос
        }

        document.getElementById('editProfileForm').addEventListener('submit', function (event) {
            event.preventDefault();  // Останавливаем стандартное поведение формы

            const formData = new FormData(this);  // Собираем данные формы, включая файлы

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("POST", "/api/users/updateProfile", true);  // Открываем соединение с сервером

            // Обработчик события при завершении запроса
            httpRequest.onload = function () {
                if (httpRequest.status === 200) {
                    const response = JSON.parse(httpRequest.responseText);  // Получаем ответ в формате JSON
                    if (response.status === "success") {
                        window.location.href = "/profile";
                        console.log(response)
                        alert("Данные успешно обновлены");
                    } else {
                        alert("Ошибка: " + response.message);
                    }
                } else {
                    alert("Ошибка при обновлении данных: " + httpRequest.message);
                }
            };

            // Обработчик события ошибки
            httpRequest.onerror = function () {
                alert("Произошла ошибка при отправке запроса");
            };

            // Отправляем данные формы
            httpRequest.send(formData);
        });
    </script>
    <script src="/js/bootstrap.bundle.js"></script>
</div>
</html>
