<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/train.css'}">
</head>
<div class="container" layout:fragment="content">
        <div class="row">
            <div>
                <h2>List of Training Programs</h2>
                <div class="list-group d-flex flex-row flex-wrap">
                    <th:block th:each="program : ${programs}">
                        <div class="list-group-item border-0 row">
                            <h4 th:alt="${program.title}"> </h4>
                            <a>
                                <img th:src="@{'data:image/jpeg;base64,' + ${program.getBase64Image()}}" th:alt="${program.image}" />
                            </a>
                            <div>
                                <a class="text-decoration-none link-opacity-50-hover">
                                    <span th:text="${program.description}"></span>
                                </a><br/>
                                <p class="mb-0 oldprice d-inline" th:alt="${program.type}">
                                </p>
                                <p class="mb-0 oldprice d-inline" th:alt="${program.duration}">
                                </p>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>

            <div class="mt-3" sec:authorize="hasAnyAuthority('TRAINER')">
                <a href="/training_page" class="btn btn-primary">Create New Training Program</a>
            </div><br/>

        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>
</html>