<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main_layout.html">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/trainItem.css'}">
</head>
<body>
<div class="container mt-5 profile-container" layout:fragment="content">
    <h1>Edit Training Program</h1>
    <form th:action="@{/training-programs/edit}" th:method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${program.id}">
        <div class="mb-3">
            <label class="form-label">Title:</label>
            <input
                    type="text"
                    class="form-control"
                    name="title"
                    th:value="${program.title}"
                    required
            />
        </div>
        <div class="mb-3">
            <label class="form-label">Description:</label>
            <input
                    type="text"
                    class="form-control"
                    name="description"
                    th:value="${program.description}"
                    required
            />
        </div>
        <div class="mb-3">
            <label class="form-label">Type:</label>
            <input
                    type="text"
                    class="form-control"
                    name="type"
                    th:value="${program.type}"
                    required
            />
        </div>
        <div class="mb-3">
            <label class="form-label">Duration:</label>
            <input
                    type="number"
                    class="form-control"
                    name="duration"
                    th:value="${program.duration}"
                    required
            />
        </div>
        <div class="mb-3">
            <label class="form-label">Image:</label>
            <input
                    type="file"
                    class="form-control"
                    name="image"
                    th:value="${program.image}"
                    accept="image/*"
            />
        </div>
        <a th:href="@{/training-programs}" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-primary">Add Training</button>
    </form>
</div>

<script th:src="@{'https://code.jquery.com/jquery-3.5.1.slim.min.js'}"></script>
<script th:src="@{'https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js'}"></script>
<script th:src="@{'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'}"></script>
<script>
    function enrollProgram(programId) {
        // Реализация логики записи на программу
        console.log('Enroll in program with ID:', programId);
    }

    function deleteProgram(programId) {
        // Реализация логики удаления программы
        console.log('Delete program with ID:', programId);
    }
</script>
</body>
</html>
